<!-- <ng-container [formGroup]="controlContainer.control">
  <button (click)="getErrors1()">Get Errors</button>
  <input class="al-text-align-right" [formControlName]="'f1'"
							       [(ngModel)]="value1"
							       pInputText />

                     
</ng-container> -->

<h3 *ngIf="sectionHeader">
	<span [innerHtml]="sectionHeader"></span>
</h3>

<table *ngIf="tableRows" class="al-table" [ngClass]="{ 'al-table-responsive': isResponsive }">

	<thead *ngIf="tableHeader">
		<tr>
			<th colspan="2">
				<span [innerHtml]="tableHeader"></span>
			</th>
		</tr>
	</thead>

	<tbody *ngIf="tableRows">
		<tr *ngFor="let tr of tableRows; let i = index" [ngClass]="{
			 'brand-highlight-4': tr?.isBrandingHighlighted4,
			 'brand-highlight-5': tr?.isBrandingHighlighted5 }">

			<td *ngFor="let td of tr?.tableColumns; let last = last; let first = first"
				class="al-720-w100 al-480-w100 al-320-w100" [ngClass]="{ 
					'al-text-align-right': (last && !(td?.isAlignLeft)),
					'al-w25': (first && td?.isActionButton),
					'al-w5-8': (first && colsWidth)
				}" [attr.colspan]="tr?.tableColumns?.length == 1 ? 2 : ''">

				<ng-container [formGroup]="controlContainer.control">

					<ng-container *ngIf="td?.isEditable">

						<div *ngIf="td?.isDollar || td?.isPercent" class="al-display-flex">

							<small *ngIf="td?.isDollar"
							       class="al-padding-right-1x">$</small>

							<input class="al-text-align-right"
							       [ngClass]="{ 'al-input-10-char': !isSmallInput, 'al-input-4-char': isSmallInput }"
							       type="text"
							       [value]="td?.colTitle"
                     [formControlName]="td?.formControlName"
							       [(ngModel)]="td.colTitle"
							       [attr.ngModelOptions]="{standalone: true}"
                     pInputText />

							<small *ngIf="td?.isPercent"
							       class="al-padding-left-1x">%</small>

						</div>


						<ng-container *ngIf="!(td?.isDollar || td?.isPercent)">
							<input class="al-text-align-right"
							       [ngClass]="{ 'al-input-10-char': !isSmallInput, 'al-input-4-char': isSmallInput }"
							       type="text"
							       [value]="td?.colTitle"
                     [formControlName]="td?.formControlName"
							       [(ngModel)]="td.colTitle"
							       [attr.ngModelOptions]="{standalone: true}"
                     pInputText />
						</ng-container>

							<app-validations [controller]="fg?.get(td?.formControlName)"></app-validations>


							<!-- <div style="background: red" *ngIf="(
                (fg?.get(td?.formControlName)?.errors?.minlength) &&
                !(fg?.get(td?.formControlName)?.valid) &&
                (fg?.get(td?.formControlName).dirty)
              ) != null">
								minLength
							</div>
							<div style="background: yellow" *ngIf="
              (fg?.get(td?.formControlName)?.errors?.required) &&
                !(fg?.get(td?.formControlName)?.valid) &&
                (fg?.get(td?.formControlName).dirty)
            ">
								required
							</div>
							<div style="background: orange" *ngIf="(
                (fg?.get(td?.formControlName)?.errors?.email) &&
                !(fg?.get(td?.formControlName)?.valid) &&
                (fg?.get(td?.formControlName).dirty)
              )">
								email
							</div> -->
							<pre>req: {{fg?.get(td?.formControlName)?.errors?.required | json }}</pre>
							<pre>email: {{fg?.get(td?.formControlName)?.errors?.email | json }}</pre>
							<pre>minLength: {{fg?.get(td?.formControlName)?.errors?.minlength != null | json }}</pre>
							<pre>valid: {{fg?.get(td?.formControlName)?.valid | json }}</pre>
							<pre>dirty: {{fg?.get(td?.formControlName)?.dirty | json }}</pre>
							<pre>4: {{(fg?.get(td?.formControlName)?.errors?.email) && !(fg?.get(td?.formControlName)?.valid) && (fg?.get(td?.formControlName).dirty) | json }}</pre>





						</ng-container>

						<ng-container *ngIf="!(td?.isEditable)">

							<div [ngClass]="{'al-display-flex': td?.isRadio}">
								<div *ngIf="td?.isRadio" class="al-margin-right-1x">
									<input type="radio"
								       [name]="td?.formControlName"
								       [formControlName]="td?.formControlName"
								       [id]="td?.formControlName + '_' + i"
								       [value]="td?.radioValue"
								       [(ngModel)]="selectedAddress"
								       [attr.ngModelOptions]="{standalone: true}">
							  </div>

									<div>
										<div *ngIf="!td?.isRadio && !td?.isTooltip && !td?.isActionButton && !td?.isDropDown"
											[ngClass]="{ 
										 'al-margin-bottom-neg1x': td?.isLeadIn,
										 'al-padding-left-2x': td?.isChildRow
									}">
											<p [ngClass]="{
										'al-lead-in': td?.isLeadIn,
										'brand-alert-1': td?.isNegAmt
									}">
												<span [innerHtml]="td?.colTitle"
										      [ngClass]="{ 'al-font-bold': td?.isStrong }"></span>
											</p>
										</div>

										<div *ngIf="td?.isRadio && !td?.isTooltip"
											[ngClass]="{ 'al-margin-bottom-1x': labelBottomSpace }">
											<label [for]="td?.formControlName + '_' + i"
									       [innerHtml]="td?.colTitle"></label>
										</div>

										<div *ngIf="td?.isTooltip && !td?.isRadio" class="al-margin-bottom-1x">
											<a aria-haspopup="true" class="al-tooltip" href="javaScript:void(0);"
												(mouseenter)="TooltipMouseOver_i.showPopOver($event)"
												(mouseleave)="TooltipMouseOver_i.hidePopOver($event)"
												[innerHtml]="td?.colTitle"></a>

										</div>

										<div *ngFor="let address of td?.addressItem" [innerHtml]="address"></div>
										<ng-container *ngIf="td?.isActionButton">
											<button pButton type="button"
									        [label]="td?.colTitle"
									        class="al-button-neutral" (click)="redirectNevUrl(td?.financialInstiLink)"></button>
										</ng-container>

										<ng-container *ngIf="td?.isDropDown">
											<select [(ngModel)]="td.selectedOption"
									        [formControlName]="td?.formControlName"
									        [attr.ngModelOptions]="{standalone: true}"
									        [id]="td?.formControlName">
										<option *ngFor="let dropdown of td?.dropDownItems"
										        [value]="dropdown?.value"
										        [selected]="td?.selectedOption == dropdown?.value"
										        [innerHtml]="dropdown?.label">
										</option>
									</select>
										</ng-container>
									</div>
								</div>

						</ng-container>

					</ng-container>
			</td>
		</tr>
	</tbody>
</table>