<div *ngIf="data">
	<div>

		<form [formGroup]="form" novalidate>
      <!-- <p *ngfor="let error of form.errors" [innerHtml]="error"></p> -->
      
			<fieldset>
        
				<section *ngIf="data?.estimatedIncomeTaxWthlSection">
          <h3>1st radio doesn't have any value: TRY to select it</h3>
					<div class="row"
						*ngIf="data?.estimatedIncomeTaxWthlSection?.fedralIncomeTaxWthlTable || data?.estimatedIncomeTaxWthlSection?.stateIncomeTaxWthlTable || data?.estimatedIncomeTaxWthlSection?.usTerritoryIncomeTaxWthlTable || data?.estimatedIncomeTaxWthlSection?.provincialIncomeTaxWthlTable">

            <app-errors-all [form]="form"></app-errors-all>

						<!-- table - Federal Income Tax -->
						<div class="col"
							*ngIf="data?.estimatedIncomeTaxWthlSection?.fedralIncomeTaxWthlTable">

							<!-- <app-table [formGroup]="form" [value1]="value1"></app-table>   -->

              
							<app-table [formGroupName]="'fit'"
								[sectionHeader]="data?.estimatedIncomeTaxWthlSection?.fedralIncomeTaxWthlTable?.sectionTitle"
								[tableRows]="data?.estimatedIncomeTaxWthlSection?.fedralIncomeTaxWthlTable?.tableRows"
								[labelBottomSpace]="false"
                [selectedAddress]="data?.estimatedIncomeTaxWthlSection?.fedralIncomeTaxWthlTable?.selectedRadioAddress"
								[colsWidth]="data?.estimatedIncomeTaxWthlSection?.fedralIncomeTaxWthlTable?.applyColsWidth"
								[isResponsive]="false">
							</app-table>

						</div>

						<!-- table - State Income Tax -->
						<div class="col"
							*ngIf="data?.estimatedIncomeTaxWthlSection?.stateIncomeTaxWthlTable">
              <app-table [formGroupName]="'sit'"
								[sectionHeader]="data?.estimatedIncomeTaxWthlSection?.stateIncomeTaxWthlTable?.sectionTitle"
								[tableRows]="data?.estimatedIncomeTaxWthlSection?.stateIncomeTaxWthlTable?.tableRows"
								[selectedAddress]="data?.estimatedIncomeTaxWthlSection?.stateIncomeTaxWthlTable?.selectedRadioAddress"
								[labelBottomSpace]="false"
								[colsWidth]="data?.estimatedIncomeTaxWthlSection?.stateIncomeTaxWthlTable?.applyColsWidth"
								[isResponsive]="false">
							</app-table>

						</div>

					</div>

				</section>


				<!-- tables - Estimated Income Tax Withholding -->
				<section *ngIf="data?.estimateWithholdingSection">

					<!-- <app-table [tableRows]="data?.estimateWithholdingSection?.tableRows"
					                         [isResponsive]="true">
					</app-table> -->

				</section>

				<div style="clear: both" *ngIf="data?.actionButtons">
					<button pButton
					        type="submit"
					        [label]="data?.actionButtons?.changeButton"
					        class="al-button-positive al-button-large">
					</button>
					<button (click)="cancelDialog.showDialog($event)"
					        pButton
					        type="button"
					        [label]="data?.actionButtons?.cancelButton"
					        class="al-button-neutral al-button-large">
					</button>


				</div>

			</fieldset>

			<!-- // TODO: remove below <pre> tag after final form validations -->
			<pre
				style="max-width: 25%; font-size: 11px; position: fixed; bottom: -11px; right: 5%; padding: 1.5%; border-radius: 30px 30px 0 0; box-shadow: 0px -7px 10px 11px #cbcbcb; background-color: white;">Values: {{ form.value | json }}</pre>
		</form>

	</div>
</div>