<div *ngIf="data">
	<div>

		<form [formGroup]="form" novalidate>
			<!-- <p *ngfor="let error of form.errors" [innerHtml]="error"></p> -->

			<fieldset>

				<section *ngIf="data?.estimatedIncomeTaxWthlSection">
					<h3>1st radio doesn't have any value: TRY to select it</h3>
					<div class="row"
						*ngIf="data?.estimatedIncomeTaxWthlSection?.fedralIncomeTaxWthlTable || data?.estimatedIncomeTaxWthlSection?.stateIncomeTaxWthlTable || data?.estimatedIncomeTaxWthlSection?.usTerritoryIncomeTaxWthlTable || data?.estimatedIncomeTaxWthlSection?.provincialIncomeTaxWthlTable">

						<app-errors-all [form]="form"></app-errors-all>

						<!-- table - Federal Income Tax -->
						<div class="col" *ngIf="data?.estimatedIncomeTaxWthlSection?.fedralIncomeTaxWthlTable">

							<!-- <app-table [formGroup]="form" [value1]="value1"></app-table>   -->


							<app-table [formGroupName]="'fit'"
								[sectionHeader]="data?.estimatedIncomeTaxWthlSection?.fedralIncomeTaxWthlTable?.sectionTitle"
								[tableRows]="data?.estimatedIncomeTaxWthlSection?.fedralIncomeTaxWthlTable?.tableRows"
								[labelBottomSpace]="false"
								[selectedAddress]="data?.estimatedIncomeTaxWthlSection?.fedralIncomeTaxWthlTable?.selectedRadioAddress"
								[colsWidth]="data?.estimatedIncomeTaxWthlSection?.fedralIncomeTaxWthlTable?.applyColsWidth"
								[isResponsive]="false">
							</app-table>

						</div>

						<!-- table - State Income Tax -->
						<div class="col" *ngIf="data?.estimatedIncomeTaxWthlSection?.stateIncomeTaxWthlTable">
							<app-table [formGroupName]="'sit'"
								[sectionHeader]="data?.estimatedIncomeTaxWthlSection?.stateIncomeTaxWthlTable?.sectionTitle"
								[tableRows]="data?.estimatedIncomeTaxWthlSection?.stateIncomeTaxWthlTable?.tableRows"
								[selectedAddress]="data?.estimatedIncomeTaxWthlSection?.stateIncomeTaxWthlTable?.selectedRadioAddress"
								[labelBottomSpace]="false"
								[colsWidth]="data?.estimatedIncomeTaxWthlSection?.stateIncomeTaxWthlTable?.applyColsWidth"
								[isResponsive]="false">
							</app-table>

						</div>

					</div>

				</section>


				<!-- tables - Estimated Income Tax Withholding -->
				<section *ngIf="data?.estimateWithholdingSection">

					<!-- <app-table [tableRows]="data?.estimateWithholdingSection?.tableRows"
					                         [isResponsive]="true">
					</app-table> -->

				</section>

				<div style="clear: both" *ngIf="data?.actionButtons">
					<button pButton
					        type="submit"
					        [label]="data?.actionButtons?.changeButton"
					        class="al-button-positive al-button-large">
					</button>
					<button (click)="cancelDialog.showDialog($event)"
					        pButton
					        type="button"
					        [label]="data?.actionButtons?.cancelButton"
					        class="al-button-neutral al-button-large">
					</button>


				</div>

			</fieldset>

			<div class="pre-div">
				<p>Developed by <strong><a href="mailto:ku@kutec.co.in?subject=tal-reactive-form">Kushal Jayswal</a></strong></p>
        <hr>
				<pre>
          Values: {{ form.value | json }}
        </pre>
			</div>
		</form>

	</div>
</div>